/* Bio.module.css */

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f5efe8;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

.imageSection {
    flex-basis: 30%; /* 使图片占据1/3的空间 */
    flex-grow: 1;
    margin-right: 40px; /* 增加图片和文字之间的距离 */
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 2s forwards 1s;
}

.imageSection img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.textSection {
    flex-basis: 70%; /* 使文字区域占据2/3的空间 */
    font-family: 'Playfair Display', serif;
    color: #3e3e3e;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 26px;
    margin: 0;
    color: #4a4a4a;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 20px 0;
    color: #8e8e8e;
    letter-spacing: 2px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin: 20px 0;
    color: #4a4a4a;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .imageSection {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .imageSection img {
        width: 30%; /* 调整移动端图片宽度 */
        margin: 0 auto; /* 让图片居中 */
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}

/* 动画定义 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Breadcrumb 样式 */
.breadcrumb {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0; /* 背景颜色 */
    border-radius: 5px; /* 圆角 */
    width: 100%;
    max-width: 1200px;
}

.breadcrumb a {
    text-decoration: none;
    color: #0073e6; /* 链接颜色 */
    transition: color 0.3s ease; /* 平滑过渡效果 */
}

.breadcrumb a:hover {
    color: #005bb5; /* 悬停时的颜色 */
}

.breadcrumb span {
    color: #555; /* 当前页面文字颜色 */
}
